#untracked files

# ignore generated pdf files
*.pdf


# temporary files
*.tmp
*.bak
*.swp

# temporary LaTex build files
*.synctex.gz
*.aux
*.log
*.toc
*.out

# code composer files
/Generated_Code
/Documentation
/.settings
*.g_c
*.g_x
.cwGeneratedFileSetLog
ProjectInfo.xml


